<div style="text-align:center; margin-top:1%">
  <img width="150" alt="CombatBoats logo" src="../assets/combatboats-logo.png">
  <h1>CombatBoats!</h1>
</div>
<div class="container">

  <button *ngIf="gameStarted === false" (click)="gameStarted = true">Game Start</button>
  <div *ngIf="gameStarted">

    <app-player></app-player>
    <app-board></app-board>


    <!-- display after winner is chosen -->
    <!-- <div *ngIf(gameIsWon)>
      <h3>{{currentPlayerId}} wins!</h3>
      <h4>Click to start a new game.</h4>
    </div> -->

  </div>
</div>
