<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center; margin-top:1%">
  <img width="150" alt="CombatBoats logo" src="../assets/combatboats-logo.png">
  <h1>CombatBoats!</h1>
</div>
<div class="container">


  <div class="game-board">
    <p>game board goes here</p>
  </div>

  <div class="player-turn-indicator">
    <p>Player {{currentPlayerId}}'s turn</p>
  </div>



  <!-- display after winner is chosen -->
  <!-- <div *ngIf(gameIsWon)>
    <h3>some_player wins!</h3>
    <h4>Click to start a new game.</h4>
  </div> -->

</div>
