<!-- displays when placing ships -->
<div class="row">

  <div class="col-md-6">

    <div *ngIf="selectedShip">
      <h3>Place Your Ships!</h3>
      <table>
        <tr *ngFor='let row of gameBoard.board'>
          <td class="tile" *ngFor='let col of row' (click)="place(col)" [style.background-color]="col.hasBoat ? 'green' : 'lightblue'">{{wasStruck(col)}}
          </td>
        </tr>
      </table>
    </div>

    <!-- displays when done placing ships; gameplay begins -->
    <div *ngIf="!selectedShip">
      <h3>Click to Fire Torpedos!</h3>
      <table>
        <tr *ngFor='let row of gameBoard.board'>
          <td class="tile" *ngFor='let col of row' (click)="attack(col)" [style.background-color]="col.hasBoat ? 'green' : 'lightblue'">{{wasStruck(col)}}
          </td>
        </tr>
      </table>
    </div>
  <!-- column end -->
  </div>

  <div class="col-md-6">
    <!-- click to end placement phase; start game -->
    <button *ngIf="this.selectedShip" (click)="this.selectedShip=null" style="display:inline">Start Playing</button>
  </div>

</div>
